
/* CSS dengan tema hijau dan putih */

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Putih */
    color: #333; /* Warna teks utama */
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50; /* Hijau */
    color: #fff; /* Warna teks header */
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff; /* Putih */
    border: 1px solid #4CAF50; /* Hijau */
}

#gambar-dan-ilustrasi img {
    max-width: 100%;
}

  

#penjelasan-bank-sampah, #proses-pengolahan-sampah, #jenis-sampah-dan-daur-ulang, #manfaat-daur-ulang, #cara-terlibat, #pembuatan-eco-enzyme {
    background-color: #ffffff; /* Putih */
    color: #333; /* Warna teks utama */
    margin: 20px;
    padding: 20px;
    border: 1px solid #4CAF50; /* Hijau */
}

.jenis-sampah {
    margin-bottom: 100px;
}

h2 {
    color: #4CAF50; /* Hijau */
}

strong {
    font-weight: bold;
}

/* Catatan */
p strong {
    color: #4CAF50; /* Hijau */
}

/* Sub-list */
ul ul, ol ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Link */
a {
    color: #4CAF50; /* Hijau */
    text-decoration: none;
}

/* a:hover {
    text-decoration: underline;
} */
  /*footer*/
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
}